* {
    box-sizing: border-box;
}

.calendar {
    position: relative;
    left: 40px;
    border: 1px solid #c3c3c3;
}

.openBtn {
    display: flex;
    /* justify-content: left; */
}

.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    /* position: fixed; */
}


.addTaskPopup {
    position: relative;
    text-align: center;
    width: 100%;
}
.schedulePopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.addFormContainer {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}
.addFormContainer input[type=text],
.addFormContainer input[type=datetime-local],
.addFormContainer input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}
.addFormContainer input[type=text]:focus,
.addFormContainer input[type=datetime-local]:focus,
.addFormContainer input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.addFormContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.addFormContainer .cancel {
    background-color: #cc0000;
}
.addFormContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

.scheFormContainer {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}

.scheFormContainer select,
.scheFormContainer input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 1 5px 1;
    border: none;
    background: #eee;
}

/*.scheFormContainer input[type=text]:focus,
.scheFormContainer input[type=datetime-local]:focus,
.scheFormContainer input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}*/

.scheFormContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.scheFormContainer .cancel {
    background-color: #cc0000;
}
.scheFormContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}