* {
    box-sizing: border-box;
}

.calendar {
    position: relative;
    left: 40px;
    border: 1px solid #c3c3c3;

}

.sys_messages {
    position: absolute;
    top: 121px;
}

.message_list {
    position: relative;
    top: -10px;
    left: -15px;
}

.calBtn {
    position: relative;
    left: 40px;
}

.openBtn {
    display: flex;
    /* justify-content: left; */
}

.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    /* position: fixed; */
}


.addTaskPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.schedulePopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

/* Styling for the form that add tasks to the system */
.addFormContainer {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    /*max-height: 600px;
    */
}
.addFormContainer input[type=text],
.addFormContainer input[type=datetime-local],
.addFormContainer input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
    height: 25px;
}
.addFormContainer input[type=text]:focus,
.addFormContainer input[type=datetime-local]:focus,
.addFormContainer input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.addFormContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.addFormContainer .cancel {
    background-color: #cc0000;
}
.addFormContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

/* End of styling for the form that add tasks to the system */

.scheFormContainer {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}

.scheFormContainer select,
.scheFormContainer input[type=text] {

    /* refers to how much the text of input or the included items should
    take up of the horizontal space */
    /* width: 100%; */
    /*padding: 15px;*/
    margin: 5px;
    border: none;
    background: #eee;
    /* Changes the height of the text boxes */
    height: 20px;
    
}



/*.scheFormContainer input[type=text] {
    width: 50px;
}*/


/*.scheFormContainer input[type=text]:focus,
.scheFormContainer input[type=datetime-local]:focus,
.scheFormContainer input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}*/

.scheFormContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.scheFormContainer .cancel {
    background-color: #cc0000;
}
.scheFormContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

.infoBox {
    position: relative;
    text-align: center;
    width: 100%;
}

.infoBoxContainer {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}

.infoBoxContainer label {
    margin: 5px;
}

.infoBoxContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.infoBoxContainer .cancel {
    background-color: #cc0000;
}
.infoBoxContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}


.ghost {
    /* Hides the element and also doesn't make it so
    the shape of the other elements aren't chnaged */
    display: none;
}