{% load static %}
<!DOCTYPE html>

<html onClick="showCoords(event)">
    <!-- Does load it is the name in the tab -->
    <head>
        <meta charset="utf-8">
        <title>My test page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'calendarauto/styles.css' %}">
        <script type="text/javascript" src="{% static 'calendarauto/test.js' %}"></script>
    </head>
    <!-- Loads everything after this -->
    <body>
        <!-- Looks for the month variable and year variables
             sent in as contextes from the render in the views module
        --> 
        <h1>Week of {{ sunday|date:"F j, Y" }} - {{ saturday|date:"F j, Y" }} 
            <!-- <div class="openBtn"> -->
                <button class="openButton" onclick="openForm()"><strong>Create New Task</strong></button>
            <!-- </div> -->
        </h1>
    
        
        <div class="addTaskPopup">
            <div class="formPopup" id="popupForm">
                <form action="{% url 'calendarauto:add_new_task' sunday|date:"Y" sunday|date:"m" sunday|date:"d" %}" method=post class="addFormContainer"> 
                    {% csrf_token %}
                    <h2>Create New Task</h2>

                    <label for="task_name">
                        <strong>Task Name</strong>
                    </label>
                    <input type="text" id="task_name" placeholder="Your Task Name" name="task_name" required>
                    <label for="task_desc">
                        <strong>Task Description</strong>
                    </label>
                    <input type="text" id="task_desc" placeholder="Your Task Description" name="task_desc" required>
                    <label for="start_time">
                        <strong>Start Time</strong>
                    </label>
                    <input type="datetime-local" id="start_time" name="start_time" required>
                    <label for="end_time">
                        <strong>Deadline</strong>
                    </label>
                    <input type="datetime-local" id="end_time" name="end_time" required>
                    <label for="duration">
                        <strong>Duration</strong>
                    </label>
                    <input type="number" id="duration" placeholder="Duration Length" name="duration" step="0.01" required>
                    <input type="submit" class="btn">
                    <input value="Close" type="button" class="btn cancel" onclick="closeForm()">
                </form>
            </div>
        </div>
        
        
        <div class="schedulePopup">
            <div class="formPopup" id="schedulepopupForm">
                <form action="{% url 'calendarauto:add_new_task' sunday|date:"Y" sunday|date:"m" sunday|date:"d" %}" id="scheForm" class="scheFormContainer">
                    <h2>Schedule New Task</h2>
                    <div>
                        <label for="taskType">Task Type:</label>
                        <select id="taskType" name="taskType" onChange="changeForm()">
                            <option value='SF'>Social Friend</option>
                            <option value='SR'>Social Relationship</option>
                            <option value='SA'>Social Family</option>
                            <option value='Tr'>Travel</option>
                            <option value='St'>Study</option>
                            <option value='Wk'>Work</option>
                            <option value='Er'>Errand</option>
                            <option value='Rd'>Read</option>
                            <option value='Hb'>Hobby</option>
                        </select>
                        <label for="curTasks">Current Tasks:</label>
                        <select id="curTasks" name="curTasks">
                        </select>
                        <label for="start_hour">
                            <strong>Start Hour</strong>
                        </label>
                        <input type="text" id="start_hour" name="start_time" disabled>
                        <label for="end_hour">
                            <strong>End Hour</strong>
                        </label>
                        <input type="text" id="end_hour" name="end_time" disabled>
                        <label for="duration">
                            <strong>Duration</strong>
                        </label>
                        <input type="text" value="1hr" id="duration" name="duration" disabled>
                        <input type="checkbox" id="autofill" name="autofill">
                        <label for="autofill">
                            <strong>Autofill</strong>
                        </label>
                        <input type="checkbox" id="email" name="email">
                        <label for="email">
                            <strong>Email Notification</strong>
                        </label>
                    </div>
                    <input type="text" id="day_month" name="day_month" class="ghost">
                    <div id="specForm">
                        <label for="friends">
                            <strong>Friend List:</strong>
                        </label>
                        <select id="friends" name="friends">
                        </select>
                        <label for="friend_desc">
                            <strong>Description:</strong>
                        </label>
                        <input type="text" id="friend_desc" name="friend_desc" required>
                        <label for="friend_loc">
                            <strong>Location:</strong>
                        </label>
                        <input type="text" id="friend_loc" name="friend_desc" required>
                    </div>
                    <button type="submit" class="btn">Schedule</button>
                    <button type="button" class="btn cancel" onclick="closeScheduleForm()">Close</button>
                </form>
            </div>
        </div>
        
        <div>
            <canvas id="myCanvas" height="750" class="calendar" onClick="showDay(event)">
                Your browser does not support the canvas element.
            </canvas>
        </div>
        
        <p id="demo"></p>
        <p id="temp"></p>
    </body>
</html>