{% load static %}
<!DOCTYPE html>

<html onClick="clickedPage(event)">
    <!-- Does load it is the name in the tab -->
    <head>
        <meta charset="utf-8">
        <title>Auto Calendar</title>
        <link rel="stylesheet" type="text/css" href="{% static 'calendarauto/styles.css' %}">
        <script type="text/javascript" src="{% static 'calendarauto/test.js' %}"></script>
    </head>
    <!-- Loads everything after this -->
    <body>
        <!-- Looks for the month variable and year variables
             sent in as contextes from the render in the views module
        --> 
        <h1>Week of {{ sunday|date:"F j, Y" }} - {{ saturday|date:"F j, Y" }} 
            <!-- <div class="openBtn"> -->
                <button class="openButton" onclick="openForm()"><strong>Create New Task</strong></button>
            <!-- </div> -->
        </h1>
        
        <div class="addTaskPopup">
            <div class="formPopup" id="popupForm">
                <form action="{% url 'calendarauto:add_new_task' sunday|date:"Y" sunday|date:"m" sunday|date:"d" %}" method=post class="addFormContainer"> 
                    {% csrf_token %}
                    <h2>Create New Task</h2>

                    <label for="task_name">
                        <strong>Task Name</strong>
                    </label>
                    <input type="text" id="task_name" placeholder="Your Task Name" name="task_name" required>
                    <label for="task_desc">
                        <strong>Task Description</strong>
                    </label>
                    <input type="text" id="task_desc" placeholder="Your Task Description" name="task_desc" required>
                    <label for="start_time">
                        <strong>Start Time</strong>
                    </label>
                    <input type="datetime-local" id="start_time" name="start_time">
                    <label for="end_time">
                        <strong>Deadline</strong>
                    </label>
                    <input type="datetime-local" id="end_time" name="end_time">
                    <label for="duration">
                        <strong>Duration</strong>
                    </label>
                    <input type="number" id="duration" placeholder="Duration Length" name="duration" step="0.01" required>
                    <input type="submit" class="btn">
                    <input value="Close" type="button" class="btn cancel" onclick="closeForm()">
                </form>
            </div>
        </div>
        
        
        <div class="schedulePopup">
            <div class="formPopup" id="schedulepopupForm">
                <form action="{% url 'calendarauto:schedule_hour_block' sunday|date:"Y" sunday|date:"m" sunday|date:"d" %}" id="scheForm" method=post class="scheFormContainer">
                {% csrf_token %}
                    <h2>Schedule New Task</h2>
                    <div>
                        <label for="taskType">
                            <strong>Task Type:</strong>
                        </label>
                        <select id="taskType" name="taskType" onChange="changeForm()">
                            <option value='SF'>Social Friend</option>
                            <option value='SR'>Social Relationship</option>
                            <option value='SA'>Social Family</option>
                            <option value='Tr'>Travel</option>
                            <option value='St'>Study</option>
                            <option value='Wk'>Work</option>
                            <option value='Er'>Errand</option>
                            <option value='Rd'>Read</option>
                            <option value='Hb'>Hobby</option>
                        </select>
                        <label for="curTasks">
                            <strong>Current Tasks:</strong>
                        </label>
                        <select id="curTasks" name="curTasks">
                            {% if task_list %}
                                {% for task in task_list %}
                                    {% if not task.scheduled %}
                                        <option>{{ task.task_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                        <br>
                        <label for="start_hour">
                            <strong>Start Hour</strong>
                        </label>
                        <input type="text" id="start_hour" name="start_hour" size="30" disabled>
                        <label for="end_hour">
                            <strong>End Hour</strong>
                        </label>
                        <input type="text" id="end_hour" name="end_hour" disabled>
                        <label for="sche_duration">
                            <strong>Duration</strong>
                        </label>
                        <input type="text" value="1hr" id="sche_duration" name="sche_duration" disabled>
                        <br>
                        <input type="checkbox" id="autofill" name="autofill">
                        <label for="autofill">
                            <strong>Autofill</strong>
                        </label>
                        <input type="checkbox" id="email" name="email">
                        <label for="email">
                            <strong>Email Notification</strong>
                        </label>
                    </div>
                    <input type="text" id="start_time1" name="start_time1" class="ghost">
                    <input type="text" id="end_time1" name="end_time1" class="ghost">
                    <input type="text" id="day_week" name="day_week" class="ghost">
                    <input type="text" id="DAY" name="DAY" class="ghost">
                    <div id="specForm">
                        <label for="friends">
                            <strong>Friend List:</strong>
                        </label>
                        <select id="friends" name="friends">
                        </select>
                        <label for="friend_desc">
                            <strong>Description:</strong>
                        </label>
                        <input type="text" id="friend_desc" name="friend_desc">
                        <label for="friend_loc">
                            <strong>Location:</strong>
                        </label>
                        <input type="text" id="friend_loc" name="friend_desc">
                    </div>
                    <button type="submit" class="btn">Schedule</button>
                    <button type="button" class="btn cancel" onclick="closeScheduleForm()">Close</button>
                </form>
            </div>
        </div>
        
        <div class="infoBox">
            <div class="formPopup" id="sche_infobox">
                <form action="{% url 'calendarauto:schedule_hour_block' sunday|date:"Y" sunday|date:"m" sunday|date:"d" %}" id="scheForm" method=post class="scheFormContainer">
                    <h2>Hour Block Info</h2>
                    <div>
                        <label id="scheTaskName">
                            
                        </label>
                        <label id="scheTaskType">
                            
                        </label>
                        <br>
                        <label id="scheTaskDesc">
                            
                        </label>
                        <br>
                        <label id="sche_start_hour">
                            
                        </label>
                        <label id="sche_end_hour">
                        
                        </label>
                        <br>
                        <label id="scheduled_duration">
                        
                        </label>
                        <br>
                        <label id="sche_deadline">
                        
                        </label>
                    </div>
                    <div id="scheSpecForm">
                    </div>
                    <button type="submit" class="btn">Unschedule</button>
                    <button type="button" class="btn cancel" onclick="closeScheInfoBox()">Close</button>
                </form>
            </div>
        </div>
        
        <div class="infoBox">
            <div class="formPopup" id="not_sche_infobox">
                <form action="{% url 'calendarauto:schedule_hour_block' sunday|date:"Y" sunday|date:"m" sunday|date:"d" %}" id="scheForm" method=post class="scheFormContainer">
                    <h2>Hour Block Info</h2>
                    <div>
                        <label for="notScheTaskType">Task Type:</label>
                        <select id="notScheTaskType" name="notScheTaskType">
                            <option value='SF'>Social Friend</option>
                            <option value='SR'>Social Relationship</option>
                            <option value='SA'>Social Family</option>
                            <option value='Tr'>Travel</option>
                            <option value='St'>Study</option>
                            <option value='Wk'>Work</option>
                            <option value='Er'>Errand</option>
                            <option value='Rd'>Read</option>
                            <option value='Hb'>Hobby</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn">Change Hour Type</button>
                    <button type="button" class="btn cancel" onclick="closeNotScheInfoBox()">Close</button>
                </form>
            </div>
        </div>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li id="message{{ forloop.counter}}" class="ghost">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        <div id="canvas_div">
            <canvas id="myCanvas" height="750" class="calendar" onClick="showBlock(event)">
                Your browser does not support the canvas element.
            </canvas>
            <!-- 
            <button id="button" class="calBtn">Whats up</button> 
            <button id="button" class="calBtn">Whats up</button> 
            <button id="button" class="calBtn">Whats up</button> 
            -->
            <div id="test_id" class="sys_messages">
                <ul id="message_list" class="message_list">
                </ul>
            </div>
        </div>
        
        <p id="demo"></p>
        <p id="temp"></p>
    </body>
<!-- Can later call in javascript -->
{{ sunday|json_script:'sunday' }}
{{ saturday|json_script:'saturday' }}
{{ task_list|json_script:'tasks'}}
{{ hour_blocks|json_script:'blocks'}}
{{ hour_info|json_script:'info'}}
{{ options|json_script:'options'}}
</html>